html,body, #root {
  margin: 0;
  background-color: #394b5d;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.loginContainer {
  width: 100%;
  height: 100%;  
}

.pageTitle {
  font-size: 50px;
  text-align: center;
  color: #FDFCF6;
}

.loginFormContainer {
  width: 80%;
  height: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.loginFormContainer input, button, select {
  width: 30%;
  height: 10%;
  border-radius: 14px;
  border: none;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 25;
  font-weight: bold;
  box-sizing: border-box;
  color: #394b5d;
}

button {
  cursor: pointer;
}

.error {
  color: red;
}

.success {
  color: green;
}

.spinnerOverlay {
  position: "absolute";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftCol {
  width: 30%;
  height: 100%;
  background-color: #597591;
}

.rightCol {
  width: 70%;
  height: 100%;
}

.topBar {
  width: 100%;
  height: 10%;
  background-color: #315477;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightBar {
  border-left: 0.5px solid #597591;
}

.leftSide {
  width: 50%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightSide {
  width: 50%;
  height: 100%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#logoutButtonContainer {
  height: 100% ;
}

.logoutButton {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 0%;
  background-color: white;
}

.username {
  color: #FDFCF6;
}

.searchFieldContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #7ca2c7; */
}

.searchField {
  width: 70%;
  height: 50%;
  border-radius: 4px;
  border: none;
  background-color: aliceblue;
  color: #315477;
  padding-left: 10px;
  font-weight: bold;
}

.searchField::placeholder {
  color: #315477;
  font-weight: bold;
}

.listContainer {
  width: 100%;
  height: 90%;
  /* background-color: #7ca2c7; */
  overflow-y: scroll;
}

.slideMenu {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #315477; 
  border-top: 1px solid #597591; 
  border-right: 1px solid #597591;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slideMenu div {
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.5px solid #597591;
  cursor: pointer;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  animation-name: slide;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

.slideBack {
  width: 100%;
  height: 100%;
  position: relative;
  animation-name: slide-back;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

@keyframes slide {
  from {right: 0}
  to {right : 50%}
}

@keyframes slide-back {
  from {right: 50%}
  to {right : 0}
}

.chatBody {
  height: 80%;
  width: 100%;
  background-color: aliceblue;
  position: relative;
  z-index: 2;
  overflow-y: scroll;
}

.chatInputContainer {
  width: 100%;
  height: 10%;
  background-color: #315477;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.textFieldContainer {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendButtonContainer {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chatInput {
  width: 90%;
  height: 50%;
  background-color: aliceblue;
  border-radius: 4px;
  border: none;
  color: #315477;
  padding-left: 10px;
  font-weight: bold;
}

.chatInput::placeholder {
  color: #315477;
  font-weight: bold;
}

.chatButton {
  width: 80%;
  height: 49%;
  border-radius: 4px;
  border: none;
  background-color: #597591;
  color: aliceblue;
  margin: 0;
  box-sizing: content-box;
}

.userContainer {
  margin: auto;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #315477;
  padding-left: 10px;
  cursor: pointer;
  box-sizing: border-box;
  padding-right: 10px;
}

.redCircle {
  width: 25px;
  height: 25px;
  background-color: #315477;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redCircle p {
  margin: 0;
  color:  white;
}

.hamburgerMenu {
  cursor: pointer;
}

.userContainer:hover {
  background-color: rgba(49, 84, 119, 0.5);
}

.rotate {
  animation-name: rotate;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;

}

.rotateBack {
  animation-name: rotate-back;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform : rotate(90deg)}
}

@keyframes rotate-back {
  from {transform: rotate(90deg);}
  to {transform : rotate(0deg)}
}

.updateLanguageSelect {
  width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    font-size: 25;
    font-weight: bold;
    box-sizing: border-box;
    color: #394b5d;
    border-radius: 0%;
    margin-bottom: 0%;
    border-bottom: 1px solid #394b5d;
}

.messageRow {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.messageRow p {
  margin: 0;
}

.ownMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.partnerMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.unreadMessagePreviewContainer {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.unreadMessagePreviewContainer p {
  color: white;
}

